.loginContainer {
  margin: auto;
  width: 500px;
  margin-top: 50px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 4px;
}

.loginContainer h1 {
  margin: auto;
  text-align: center;
}

.form_control{
  margin-bottom: 15px;
  margin-top: 15px;
}

.button{
  margin-bottom: 15px;
  margin-top: 15px;
  float: right;
}